
h1{
    background: #FDF8F5;
    color: #007CC7;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table, th, td {
    border: 1px solid #DDAF94;
    color: #DDAF94;
    padding: 6px;
    border-spacing: 5px;
    height: auto;
    width: auto;
    font-size: 17px;
  }

h2{
    background: #FDF8F5;
    color: #007CC7;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}


i{
    color: #DDAF94;
}

ul{
    color: #DDAF94;
}
a{
    color: #4cbfa6;
}